[package]
name = "wasi_snapshot_preview1"
version = "0.0.0"
edition = "2021"

[workspace]
members = ['verify', 'host', 'test-programs']

[dependencies]
wasi = { version = "0.11.0", default-features = false }
wit-bindgen-guest-rust = { git = "https://github.com/bytecodealliance/wit-bindgen", default-features = false, features = ["macros"] }

[build-dependencies]
wasm-encoder = "0.18.0"
object = { version = "0.29.0", default-features = false, features = ['archive'] }

[lib]
crate-type = ["cdylib"]

[profile.release]
# Omit any unwinding support. This is currently the default for wasm, though
# that could theoretically change in the future.
panic = 'abort'

# Make dev look like a release build since this adapter module won't work with
# a debug build that uses data segments and such.
[profile.dev]
opt-level = 3
debug = 0
panic = 'abort'
# Omit integer overflow checks, which include failure messages which require
# string initializers.
overflow-checks = false
