name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Check Code style quickly by running `rustfmt` over all code
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup update stable && rustup default stable
    - run: rustup component add rustfmt
    - run: cargo fmt --all -- --check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup update stable && rustup default stable
    - run: rustup target add wasm32-wasi
    - run: cargo build --target wasm32-wasi
    - run: cargo run -p verify ./target/wasm32-wasi/debug/wasi_snapshot_preview1.wasm
    - run: cargo build --release --target wasm32-wasi
    - run: cargo run -p verify ./target/wasm32-wasi/release/wasi_snapshot_preview1.wasm
    - run: cargo build -p host
